/* Much of this was re-purposed from skeleton.css to make starting (for me) a lot easier and because I liked its minimalist approach. 
/* Because for now I just needed the basics I stripped a lot of skeleton's styling leaving the basic html definitions and its button styling.
/* I did make some changes to make my links and buttons look alike and to add my preferences for hover and focus effects. 
/* I also opted for flex box formatting for columns and rows.
/* The changes I did make affect classes only, something that skeleton largely avoids here (again making it easier for me) except the .button class.
/* The .button class can be used to make anchors (links) appear like regular buttons and this succeeded with minimal tweeks.
/* Skeleton is an excellent starting point for a simple, clean looking website, and can be found here: http://getskeleton.com/ 
/* 
/* */

html {
			  font-size: 60%; }
			body {
			  font-size: 1.4em;
			  line-height: 1.6;
			  font-weight: 400;
			  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
			  color: palegreen; 
			  background-color: #0C4603;}
			

			p {
			  margin-top: 0; }
			 
			 
		#bigPic {
					max-width: 100%;
					max-height: 50%;
		}
			

		#thisPage{
				}
		#options {display:none;
				  background-color:ForestGreen;
		}
		#info {display:none;
				  background-color:Indigo;
				}
				
		#mainText { text-align: left;
				}
				
		 
	
		.actorQPLabel{font-size: 1.5rem;}
		.actor:focus { background-color: #FA1F30;}
		.actor:hover { background-color: #F5B7B1  ;}
		/* .actorLabel {font-size:75%;} */
		.actorImg { width:100%;}
		.notes {display: none;}
		.centered {text-align:center;}
		.hidden {display:none;}
		
		.button,
		button,
		input[type="submit"],
		input[type="reset"],
		input[type="button"] {
		  display: inline-block;
		  
		  color: black;
		  text-align: center;
		  
		   /* line-height: auto; */
		 
		  background-color: palegreen;
		 
		  border: 1px solid black;
		  border-radius: 10px;
		  cursor: pointer;
		   }
		  
		  button.tabber { 
					background-color: Darkorchid;
				}