/* Much of this was repurposed from skeleton.css to make starting (for me) a lot easier and because I liked its minimalist approach. 
/* Because for now I just needed the basics I stripped a lot of skeleton's styling leaving the basic html definitions and its button styling.
/* I did make some changes to make my links and buttons look alike and to add my preferences for hover and focus effects. 
/* I also opted for flex box formatting for columns and rows.
/* The changes I did make affect classes only, something that skeleton largely avoids here (again making it easier for me) except the .button class.
/* The .button class can be used to make anchors (links) appear like regular buttons and this succeded with minimal tweeks.
/* Skeleton is an excellent starting point for a simple, clean looking website, and can be found here: http://getskeleton.com/ 
/* 
/* */

html {
			  font-size: 60%; }
			body {
			  font-size: 1.4em;
			  line-height: 1.6;
			  font-weight: 400;
			  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
			  color: black; 
			  background-color: silver;}
			

			p {
			  margin-top: 0; }
			
		#bigPic {
					max-width: 100%;
					max-height: 50%;
		}
		#thisPage{
				}
		#options {display:none;
				  background-color:PaleGreen;
		}
		#info {display:none;
				  background-color:Pink;
				}
				
		#mainText { text-align: left;
				}
		


		.actor:focus { background-color: HotPink;}
		.actor:hover { background-color: thistle;}
		/* .actorLabel {font-size:75%;} */
		.actorImg { width:100%;}
		.notes {display: none;}
		.centered {text-align:center;}
		.hidden {display:none;}
		

		
		.button,
		button,
		input[type="submit"],
		input[type="reset"],
		input[type="button"] {
		  
		  color: black;
		  
		  background-color: lightcyan;
		  
		  border: 1px solid black;
		  border-radius: 10px;
		  cursor: pointer;
		  }
		  
		  button.tabber { 
					background-color: palevioletred;
				}
				