<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="pageTitle">yourtooby edit:aquarium calm</title>
    <!-- <link rel="stylesheet" href="demo.css" type="text/css"> -->
    <link rel="stylesheet" href="../css/tts_ytby.css">
    <link rel="stylesheet" href="../css/tts_min_basic.css" type="text/css">
    
   
</head>
<body id="thisPage">
<div class="notes" id="pageNote">chill out my friend</div>
<button id="showOptions" tabindex="-1">Show Editor</button><span style="color:yellow" class="">  Now Viewing:  <span id="vidId">qdUOH3GeqxY</span> in  <span id="htmlName">yt_edit_aquarium_calm.html</span></span><br>
	<div id="options" style="display: none;">
	<div class="f_row">
	  <div class="f_item">
		  <button id="hideOptions">Hide Editor</button> <br>
		  Get a YouTube Video using 11 Character ID:<br><input id="ytId" placeholder="Enter 11 char. YouTube Id"><button id="updateVideo">Get Video</button>
		 <br>
		  Create a YouTube Playlist by search phrase:<br><input id="searchPhrase" placeholder="Enter a search phrase"><button id="updateSearch">Get Videos</button> <br>
		  <button id="makeNewYt">Prep for new YT page</button>
	  </div>
	  <div class="f_item">
	   <button id="pageDataSetter">Apply Page Changes</button><br>
		  Set a title for this page (shown on browser tab):<br><input id="pgTitle" value=""><br>
		  Set a hidden note (spoken on page open):<br><input id="pgNote" value=""><br>
		  Set a name for this page (appears small at page top):<br><input id="pgName" value=""><br>
		  Set a destination for the Return Link button at the bottom left:<br><input id="returnUrl" value="some addr"><br>
		 <br>
	  </div>
	</div>
	</div>

<div class="f_row" id="yt_wrapper">
<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->


<div id="yt_placeholder"></div></div>
<div id="controls">

    <div id="actors" class="actuators">
	<!-- set the href destination "#"  in the next line to the desired page address to which you wish to return-->
            <a href="#" class="button actor" id="returnLink"><img alt="Return to previous" src="../images/go-prev-page.png" class="actorImg" id="prevBtn"><p class="actorLabel">Go Back</p></a>
             <button type="button" id="buttonReload" class="button actor"><img alt="Restart video" src="../images/reload.png" class="actorImg" id="reloadBtn"><p class="actorLabel">Restart</p></button>
            <button type="button" id="buttonPlay" class="button actor"><img alt="play" src="../images/playGreen.png" class="actorImg" id="playBtn"><p class="actorLabel">Play</p></button>
            <button type="button" id="buttonPause" class="button actor"><img alt="pause" src="../images/pause.png" class="actorImg" id="pauseBtn"><p class="actorLabel">Pause</p></button>
            <button type="button" id="buttonPrevious" class="button actor" style="display: none;"><img alt="previous video" src="../images/previous.png" class="actorImg" id="previousBtn"><p class="actorLabel">Previous</p></button>
            <button type="button" id="buttonNext" class="button actor" style="display: none;"><img alt="next video" src="../images/next.png" class="actorImg" id="nextBtn"><p class="actorLabel">Next</p></button>
            
     </div>
</div>

 <script src="../js/yt_basic_with_edit.js"></script>
 <script src="../js/tts_min_basic.js"></script>
<script src="../js/tts_min_basicPage.js"></script>
<script src="https://www.youtube.com/iframe_api"></script> 
<script type="text/javascript">
      	
      	var toobyListQuery = ""
      	var toobyListType = "";
		function onYouTubeIframeAPIReady() {
			document.getElementById("yt_placeholder").src = "";
			var toobyID = document.getElementById("vidId").textContent; <!--Element holds the 11 character YouTube identifier. Be sure to test the page. Not all YT videos are playable outside the YT domain. -->
			var swfFactor = 0.75;
			var swfW = 900;
			var swfH = 500;
			ytPlayer = new YT.Player('yt_placeholder', {
				width: swfW,
				height: swfH,
				videoId: toobyID,
				playerVars: { autoplay:1, controls:0, list:toobyListQuery, listType:toobyListType, rel:0},
				events: {},
			});
		
		}
		
		
    </script>

</body></html>